<div id="game" class="play">
  <input type="hidden"
        id="states"
        data-local-player-index=""
        data-join-room="" />
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 id="room" class="panel-title">
        Game Room:
        <span></span>
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          
          <div class="panel panel-default">
            <div class="panel-body">
              <nav>
                <div class="form-group">
                  <label for="username">Enter Desired Username:</label>
                  <input type="text" 
                    class="form-control" 
                    id="username" 
                    value="Player 1" />
                </div>
                <div class="form-group">
                  <label for="password">Enter Password:</label>
                  <input type="password" 
                    class="form-control" 
                    id="password"
                    value="x" />
                </div>
                <div class="form-group">
                  <label for="game-type">Select Game Type:</label>
                  <select class="form-control" id="game-type">
                    <option>Player VS. Player</option>
                    <option>Player VS. AI</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="game-type">Select Open Games:</label>
                  <% 
                    open_games = ['Select one']
                    open_games += @open_games.map {|g| [g.room, g.room]} 
                  %>
                  <%= 
                    select_tag(
                      :room, 
                      options_for_select(open_games),
                      {
                        class: 'form-control', 
                        id: 'open-games'
                      }
                    )
                  %>
                </div>
                <div class="form-group">
                  <button id="play-game" 
                    class="form-control btn btn-primary">
                    Play
                  </button>
                </div>
              </nav>
              <div id="current-player" class="form-group">
                <label>Current Active Player:</label>
                <div>No Player</div>
              </div>
            </div>
          </div>
          
        </div>
  
        <div class="col-sm-12 col-md-8">
          <div class="panel panel-default">
            <div class="board-container panel-body">
              <div id="board"></div>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>
  
  <!-- Modals. -->
  <div id="waiting-opponent-modal"
    class="modal fade"
    role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Game Status</h4>
        </div>
        <div class="modal-body">
          <p>
            Waiting for an opponent for room <span></span>.
          </p>
        </div>
        <div class="modal-footer">
          <a href="#"
            class="cancel-game btn btn-default"
            data-dismiss="modal">Cancel</a>
        </div>
      </div>
    </div>
  </div>
  
  <div id="winner-modal"
    class="modal fade"
    role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button"
            class="close"
            data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Game Over</h4>
        </div>
        <div class="modal-body">
          <p>
            The winner is <span></span>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button"
            class="btn btn-default"
            data-dismiss="modal">I'm cool with that!</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Modals. -->
</div>