<div id="game" class="rooms">
  <h1>Game Rooms</h1>
  <% if !@games.blank? %>
  
    <div>
      <div class="form-group">
        <label for="full-name">Enter Desired Username:</label>
        <input type="text" 
          class="form-control" 
          id="username" 
          value="Player 2" />
      </div>
      <div class="form-group">
        <label for="full-name">Enter Password:</label>
        <input type="password" 
          class="form-control" 
          id="password"
          value="y" />
      </div>
    </div>
  
    <ul class="list-group">
      <% 
        @games.each do |g| 
        r = g.room
      %>
        <li class="list-group-item">
          Game Room: <%= r %>
          <%= 
            link_to 'Join', 
              {action: :play_room}, 
              room: r,
              'data-room': r,
              class: 'join-game' 
          %>
        </li>
      <% end %>
    </ul>
  <% else %>
    No Game Rooms listed.
    <%= link_to 'Create one', root_path %>
  <% end %>
</div>