<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @game.room %>
</p>

<p>
  <strong>Game type:</strong>
  <%= @game.game_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @game.status %>
</p>

<p>
  <strong>Row:</strong>
  <%= @game.row %>
</p>

<p>
  <strong>Column:</strong>
  <%= @game.column %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
