<p id="notice"><%= notice %></p>

<h1>Listing Game Players</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_players.each do |game_player| %>
      <tr>
        <td><%= link_to 'Show', game_player %></td>
        <td><%= link_to 'Edit', edit_game_player_path(game_player) %></td>
        <td><%= link_to 'Destroy', game_player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game player', new_game_player_path %>
