<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @player.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @player.password %>
</p>

<p>
  <strong>Disk color:</strong>
  <%= @player.disk_color %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
