$board-dimension: 400px;
$slot-dimension: #{(360 / 6)}px;
@mixin border-radius($radius) 
{
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
#fenimore
{
  #room
  {
    &, span
    {
      display: inline;
    }
    span
    {
      font-size: 14px;
    }
  }
  .board-container
  {
    min-height: 390px;
    #board
    {
      display: none;
      width: $board-dimension;
      height: $board-dimension;
      position: absolute;
      left: 0;
      top: 40px;
      right: 0;
      bottom: 0;
      margin: auto;
      .row
      {
        margin: 0;
      }
      span
      {
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        margin-top: -4px;
        margin-right: 1px;
      }
      span.block
      {
        &:hover
        {
          background-color: #5cb85c;
        }
        @include border-radius(4px);
        display: inline-block;
        width: $slot-dimension;
        height: $slot-dimension;
      }
      a.disk
      {
        &.occupied
        {
          border: 8px outset #5C76B1;
        }
        @include border-radius(34px);
        width: 54px;
        height: 54px;
        margin: 2px;
        display: block;
      }
    }
  }
}