<%= form_for(@player_move) do |f| %>
  <% if @player_move.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_move.errors.count, "error") %> prohibited this player_move from being saved:</h2>

      <ul>
      <% @player_move.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :index %><br>
    <%= f.number_field :index %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
