<p id="notice"><%= notice %></p>

<h1>Listing Player Moves</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_moves.each do |player_move| %>
      <tr>
        <td><%= player_move.index %></td>
        <td><%= link_to 'Show', player_move %></td>
        <td><%= link_to 'Edit', edit_player_move_path(player_move) %></td>
        <td><%= link_to 'Destroy', player_move, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player move', new_player_move_path %>
