<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @player_move.index %>
</p>

<%= link_to 'Edit', edit_player_move_path(@player_move) %> |
<%= link_to 'Back', player_moves_path %>
