<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fenimore | Connect 4 Game</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body role="document">
  <div id="fenimore">
    <!-- Sharable global values. -->
    <input type="hidden"
      id="server-urls"
      data-base="<%= request.base_url %>"
      data-site="<%= request.base_url + request.original_fullpath %>" />
    <!-- /Sharable global values. -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" 
            class="navbar-toggle collapsed" 
            data-toggle="collapse" 
            data-target="#navbar" 
            aria-expanded="false" 
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Connect 4 Game', {action: :play}, class: 'navbar-brand' %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- /.navbar. -->
    <div class="container theme-showcase" role="main">
      <%= yield %>
      <footer>
        <p>
          Fenimore Project
          <a href="#">Connect 4 Game</a> by 
          <a href="mailto:prezire@gmail.com">Prezire</a>.
        </p>
      </footer>
    </div>
    <!-- /.container. -->
  </div>
  <!-- /#fenimore. -->
</body>
</html>